<!DOCTYPE html>
        <head>
            <title>Create Booklist</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
        </head>
       
        <body style="text-align:center">
        <form method="post">
            <br> Nome do Livro: <input type="text" name="name">
            <br> Autor do Livro: <input type="text" name="author">
            <br> Resenha: <input type="text" name="resenha">
            <br> <input type="submit" value="Criar Livro">
        </form>
        
        <body style="text-align:center">
        
        </body>